* {
    padding: 0;
    margin: 0;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
    /* Desktop */
    main {
        margin: 0rem 4rem;
    }
    .hero-content h1 {
        font-weight: 500;
        font-size: 4rem;
    }
}




:root {
    --bg-purple-light: #9E3CE1;
    --bg-border: #AAAAAA;
    --bg-green:#D5F38D;
}

.padding-section {
    padding-top: 7rem;
}

.underline {
    text-decoration: underline;
    text-decoration-color: var(--bg-purple-light);
    text-underline-offset: 10px;
}

body {
    font-family: "Poppins", "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.custom-btn-filled {
    background-color: var(--bg-purple-light);
    color: white;
    padding: 0.7rem 2rem;
    border-radius: 0.5rem;
    text-decoration: none;
    border: 0;
}

.custom-btn-outlined {
    background-color: white;
    border-color: var(--bg-purple-light);
    color: var(--bg-purple-light);
    padding: 0.7rem 2rem;
    border-radius: 0.5rem;
    text-decoration: none;
    border: 2;
}

section {
    margin-top: 2rem;
    position: relative;
}

.hero {
    z-index: 0;
    border-radius: 2rem;
    background-image: url('./assets/hero_gradient.png');
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 33rem;
    color: white;
}
.hero-cta{
    display: flex;
    justify-content: space-between;
    display: row;
}



.hero-content p {
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
}

.custom-place-1,
.custom-place-2,
.custom-place-3,
.custom-place-4,
.custom-place-5,
.custom-place-6,
.custom-place-7,
.custom-place-8,
.custom-place-9,
.custom-place-10 {
    position: absolute;
}

.custom-place-1 { top: 10%; right: 80%; }
.custom-place-2 { top: 30%; right: 76%; }
.custom-place-3 { top: 40%; right: 85%; }
.custom-place-4 { top: 50%; right: 77%; }
.custom-place-5 { top: 65%; right: 68%; }
.custom-place-6 { top: 10%; right: 10%; }
.custom-place-7 { top: 30%; right: 5%; }
.custom-place-8 { top: 40%; right: 15%; }
.custom-place-9 { top: 55%; right: 10%; }
.custom-place-10 { top: 65%; right: 20%; }

.search {
    top: 476px;
    position: absolute;
    width: 95%;
    opacity: 86%;
    z-index: 3;
    background: white;
    backdrop-filter: blur(1rem);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 1rem 2rem;
    color: black;
}

.search p {
    margin-bottom: 0.5rem !important;
    cursor: pointer;
}

.border-bottom {
    padding: 0;
    border-bottom: 2px solid gray;
}

.mt-3 {
    margin-top: 6rem !important;
}

.active{
    color: black !important;
    border-bottom: 0.1rem solid black;
}

.user-options div{
    width: 25%;
}

.search-contents .row{
  width: 80%;
}


.book-btn{
    font-weight: 500;
    background-color: var(--bg-green);
    text-decoration: none;
    border: none;
    padding: 0.8rem 2rem;
    flex: end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    margin-left: 2rem;
}
.content{
    
    display: flex;
    justify-content: start;
    align-items: end;
}



@media only screen and (max-width: 600px) {
    /* Phone */
    main {
        margin: 0rem 1rem;
    }
    
    .hero-content h1 {
        font-size: 2rem;
    }
    
    .hero-content p {
        font-size: 1rem;
    }
    .hero{
        padding: 1rem;
    }

    .custom-place-1, .custom-place-2, .custom-place-3, .custom-place-4,
    .custom-place-5, .custom-place-6, .custom-place-7, .custom-place-8,
    .custom-place-9, .custom-place-10 {
        width: 20%; /* Adjust this value as needed for smaller screens */
    }

    
    .custom-place-1 { top: 2%; right: 80%; }
    .custom-place-2 { top: 20%; right: 55%; display: none}
    .custom-place-3 { top: 35%; right: 60%; display: none; }
    .custom-place-4 { top: 50%; right: 55%; display: none; }
    .custom-place-5 { top: 65%; right: 80%; }
    .custom-place-6 { top: 5%; right: 10%; }
    .custom-place-7 { top: 20%; right: 5%; display: none; }
    .custom-place-8 { top: 35%; right: 15%; display: none;}
    .custom-place-9 { top: 50%; right: 10%; display: none; }
    .custom-place-10 { top: 65%; right: 0% ;  }

    .hero-content h1 {
        font-weight: 500;
        font-size: 2rem;
    }
    .hero-content p {
        margin-top: 2rem;
        font-size: 1rem;
        font-weight: 300;
    }

    .hero-cta{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    
    .search{
        top: 478px;
        width: 100%;
    }

    .user-options div{
        width: 100%;
    }

    .search-contents .row{
        width: 100%;
    }

    .book-btn{
        margin-top: 1rem;
    }

    .content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

}
